*{
    padding:0;
    margin:0;
}
body{
    font-family:"calibri ligh";
}
.contenedor{
    width: 80%;
    margin: auto;
}
header{
    height:400px ;
    background-image: url("../img/fondo.png");
    background-position:center;
    background-size: cover; 
}
main{
    background:white;
    padding: 20px 30px;
}
main.foto{
    width:150px;
    height: 150px;
    background-color:rgb(78, 66, 13);
    border-radius:50%;
    margin:-90px 0 20px 0;
    border:6px solid #ffffff;
}
.imagen-redonda {
    width: 200px;    
    height: 200px;
    object-fit: cover;  
    border-radius: 50%; 
    border: 5px solid #ffffff;
    margin-top: -80px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer{
    background: #7c0034;
    text-align: center;
    padding: 25px;
    color:#ffffff
}
main .texto h2{
    text-align: center !important;
    font-size: 35px;
    margin: 10px 0;
}
main .texto p{
    font-size: 18px;
    font-style: italic;
    margin: 15px;
    text-align: justify;
}

/****Botton****/
.boton .btn{
    background: #ffffff;
    border-radius: 50px;
}
.boton a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    display: block;
    padding: 15px 10px;
    border-radius: 5px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
}

.contenedor-redes {
    display: flex;
    justify-content: center; /* centra horizontalmente*/
    gap: 20px; /*espacio entre iconos*/
    margin-top: 20px;
}

.contenedor-redes.boton{
    display: inline-block;
}
.carousel-container {
    width: fit-content;
    margin: 0 auto;
  }
  